docs
node_modules
.env
coverage
coverage.json
typechain-types
yarn-error.log
dist/

# Foundry
cache
out
optimized-out

.DS_Store

# VScode
.vscode

# Differential testing
test/differential/data
test/differential/scripts/node_modules